<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>issuer</key>
	<string>https://dev-losjplaebuyov0c7.us.auth0.com</string>
	<key>clientId</key>
	<string>kdATOjfmvZ3VxD9TCLykZYocItJ8qgf4</string>
	<key>redirectUri</key>
	<string>com.intelli.Ritesh.com.SwiftUIDemo://callback</string>
	<key>logoutRedirectUri</key>
	<string>com.intelli.Ritesh.com.SwiftUIDemo://callback/logout</string>
	<key>scopes</key>
	<string>openid profile offline_access</string>
</dict>
</plist>
